<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ng-href="/#/">GA Manager</a>
		</div>
		<div>
			<ul class="nav navbar-nav" >
				<li ng-if="vm.showMenu(menu.show)" ng-class="{'active': vm.showActiveClass(menu.link)}" ng-repeat="menu in menus"><a ng-href="/#{{menu.link}}">{{menu.name}}</a></li>
			</ul>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right dropdown"> 
				<li ng-if="!$root.loggedUser.logged">
					<a ng-href="" ng-click="vm.authorize()"><span class="glyphicon glyphicon-log-in"></span> Přihlásit</a>
				</li>
				<li class="dropdown" ng-if="$root.loggedUser.logged">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-user"></span>
					{{$root.loggedUser.name}}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a ng-href="/#/">Zobrazit profil</a></li>
					<li role="separator" class="divider"></li>
					<li><a ng-click="vm.logout()"><span class="glyphicon glyphicon-log-out"></span> Odhlásit</a></li>
				</ul>
				</li>
				
				<!--<li><a ng-href="#here"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
			</ul>
		</div>
	</div>
</nav>