<div class="alert fade in" ng-class="{'alert-{{alert.bsType}}': true}" ng-repeat="alert in $root.alerts" role="alert" ng-show="alert.bsType == 'success' || alert.bsType == 'info' || alert.bsType == 'warning' || alert.bsType == 'danger'">
	<a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<span class="glyphicon" ng-class="{'glyphicon-{{alert.icon}}': true}" aria-hidden="true"></span>
	<span class="sr-only">{{alert.type}}</span>
	{{alert.message}}
</div>